.main-page,
about {
  background-image: url('./assets/images/wooden_background.jpg');
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  /* height: 100%; */
  display: flex;
  margin-top: auto;
}

.resume {
  display: flex;
  justify-content: center;
}

.resume-body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.profile-pic {
  height: auto;
  width: 30%;
}
